bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Shared/*.fs.js
Client/node_modules/
Client/src/**/*.fs.js
Client/public/bundle.js
Client/public/css/*.svg
Client/public/css/doodle.css
.idea/
.ionide/
