@font-face {
    font-family: "Short Stack";
    src: url("/css/ShortStack-Regular.ttf") format("truetype");
}

body {
    font-family: 'Short Stack', cursive;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
}

input:invalid {
    border-color: red;
}

label.labeledInput {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

input.labeledInput {
    display: block;
}

span.labeledInput {
    padding-left: 2px;
    color: red;
    font-size: 9pt;
}

span.labeledInput:empty::before {
    content: "\200b"; /* unicode zero width space character */
}